.Welcome {
  margin-top: 15vh;
  align-items: center;
  justify-content: center;
  display: flex;
}
.WelcomeBox {
  width: 80vw;
  height: 40vh;
  color: rgb(95, 122, 241);
  text-align: center;
  align-items: center;
}
.StartButton {
  font-size: calc(2.2vmin);
  background: rgb(250, 198, 56);
  color: white;
  text-align: center;
  max-height: 4vh;
  max-width: 25vw;
  min-width: 10vw;
  font-weight: 600;
  padding: 2%;
  margin: auto;
  border-radius: 25px;
}

.HomeImg {
  width: 30%;
  margin-bottom: 1%;
}

.WelcomeTitle {
  font-family: "Marck Script";
  font-weight: 500;
  font-size: 2em;
}
input[type="radio"] {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 0;
}

.ChoiceItems:hover {
  background-color: rgb(255, 216, 109);
  color: cornflowerblue;
  cursor: pointer;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 25%;
  max-width: 60%;
}
.ChoiceAreaBox {
  margin-top: 1rem;
}
.ChoiceArea {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
}
.ChoiceAreaSubmit {
  display: block;
  margin: 1% auto;
}
.ChoiceItems {
  text-align: center;
  color: white;
  display: flex;
  font-size: 2.5vh;
  font-weight: 600;
  background-color: rgba(111, 139, 233, 0.863);
  min-width: 7vw;
  align-items: center;
  width: 27vw;
  vertical-align: middle;
  height: 10vh;
  margin: 0.5vw;
  justify-content: center;
}

.ChoiceText {
  padding: 5%;
}
.SubmitButton {
  text-align: center;
  margin: 1% auto;
  display: block;
  padding: 5px;
  color: white;
  background-color: cornflowerblue;
  width: 20vw;
  height: 7vh;
  font-size: 2.5vmin;
  letter-spacing: 1px;
  font-family: Spartan;
  font-weight: 600;
  border-radius: 25px;
  border: none;
}
.SubmitButton:focus {
  outline: 0;
}
.SubmitButton:hover {
  cursor: pointer;
}
.QuestionNumber {
  margin: auto;
  margin-bottom: 2%;
  font-weight: 500;
  color: white;
  font-size: 3rem;
  text-align: center;
  font-family: "Voltaire";
}

.QuestionText {
  margin: 2% auto;
  align-items: center;
  font-weight: 600;
  color: rgb(255, 216, 109);
  font-size: 4vw;
  text-align: center;
  font-family: "Voltaire";
}

.QuestionTextBox {
  margin: auto;
  align-items: center;
  width: 75vw;
  min-height: 25vh;
}

.QuestionContainer {
  width: "100%";
  background-color: "#6b94e6";
  margin-bottom: 5%;
}
@media only screen and (max-width: 800px) {
  .StartButton {
    min-width: 55vw;
    min-height: 6vh;
    font-size: 4vmin;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .HomeImg {
    width: 70%;
  }
  .ChoiceArea {
    min-width: 90vw;
  }
  .ChoiceItems {
    min-width: 40vw;
    margin: 1vw;
    min-height: 7vh;
  }
}
@media only screen and (max-width: 500px) {
  .ChoiceItems {
    min-width: 40vw;
    margin: 1vw;
    min-height: 7vh;
    display: flex;
    justify-content: center;
  }
  .ChoiceText {
    font-size: 1.8vh;
  }
  .ChoiceAreaSubmit {
    width: 100vw;
  }
  .SubmitButton {
    margin-top: 5%;
    width: 50vw;
    height: 7vh;
    font-size: 2vh;
  }
  .QuestionTextBox {
    width: 100vw;
  }
  .QuestionText {
    font-size: 6vh;
  }
}
