@import url("https://fonts.googleapis.com/css?family=Open+Sans|Oswald|Questrial&display=swap");

.AppHome {
  font-family: "Spartan";
  font-size: 80%;
  width: 100%;
  height: 100vh;
  background-image: url("./img/background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.AppQuiz {
  font-family: "Spartan";
  font-size: 80%;
  width: 100%;
  height: 100vh;
  background-image: url("./img/background3.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.AppLogo {
  max-height: 3rem;
  display: inline;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.AppHeader {
  background-color: #6b94e6;
  max-height: 7vh;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
  align-items: center;
  justify-content: flex-start;
}

.AppTitle {
  display: inline;
  font-family: "Marck Script";
  font-size: 1.4em;
  font-weight: 500;
  word-spacing: -0.3em;
}
