@import url("https://fonts.googleapis.com/css?family=Open+Sans|Oswald|Questrial&display=swap");

.App {
  /* text-align: center; */
  font-family: "Josefin Sans";
}

.App-logo {
  max-height: 3rem;
  display: inline;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.App-header {
  background-color: #6b94e6;
  max-height: 7vh;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
  align-items: center;
  justify-content: flex-start;
}

.App-link {
  color: #61dafb;
}
.App-title {
  display: inline;
  font-family: "Grand Hotel", cursive;
  font-size: 1.6em;
  font-weight: 500;
}
