.results {
  width: 100%;
}
.congratsBanner {
  text-align: center;
  color: rgb(61, 123, 238);
  font-size: 3em;
  font-weight: 600;
}
.singleResultBox {
  width: 50vw;
  max-height: 70vh;
  margin: auto;
  background-color: white;
  color: rgb(61, 123, 238);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}
.restaurantTitle {
  font-size: 1.5vw;
  margin-bottom: 10%;
  font-weight: 600;
  text-align: center;
}
.restaurantImage {
  width: 100%;
  height: 20vh;
  text-align: -webkit-center;
  font-weight: 700;
  color: white;
  font-size: 1.2rem;
  letter-spacing: 0.7rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
h1.restaurantSuper {
  padding-top: 6%;
  padding-bottom: 6%;
}
.restaurantDescription {
  margin-top: 4%;
  margin-bottom: 4%;
  font-size: 1.5vw;
  font-weight: 600;
  padding: 1%;
  text-align: center;
}
.restaurantInfoBox {
  padding-top: 2%;
  padding-bottom: 2%;
  width: 50vw;
  text-align: center;
  display: block;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.restaurantMoney {
  width: 12%;
  margin: 5px;
}
